<app-header></app-header>
<div class="container main">
  <div class="row actions-books">
    <div class="col-md-6">
      <h2>Books</h2>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" (click)="addBook()">Ajouter</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 book-col" *ngFor="let book of books">
      <div class="book-container" (click)="selectBook(book)">
        <h3>ISBN : {{ book.isbn }}</h3>
        <h4>Titre : {{ book.title }}</h4>
      </div>
    </div>
  </div>
</div>