<div class="auth-container">
  <div class="second-container">
    <div class="auth-form-container">
      <div class="auth-form login">
        <h1>Login</h1>
        <form [formGroup]="form" (ngSubmit)="login()">
          <p>
            <mat-form-field class="full-input">
              <input matInput formControlName="email" placeholder="Adresse email" type="email">
              <mat-error *ngIf="form.controls['email'].hasError('required')">L'adresse email est requise</mat-error>
              <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">Cette adresse ne correpond pas à un mail valide</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-input">
              <input matInput formControlName="password" placeholder="Mot de passe" type="password">
              <mat-error *ngIf="form.controls['password'].hasError('required')">Le mot de passe est requis</mat-error>
              <mat-error *ngIf="form.controls['password'].hasError('pattern')">Le mot de passe ne correspond pas au pattern</mat-error>
            </mat-form-field>
          </p>
          <button class="btn btn-rounded">Envoyer</button>
        </form>
        <p>Si vous n'êtes pas encore enregistré, <a routerLink="/register">créer un compte</a></p>
      </div>
    </div>
  </div>
  <div class="first-container">
    <div class="phrase-container">
      <p>Login Page</p>
    </div>
  </div>
</div>