@import './material.theme.scss';

body{
  margin: 0;
  padding: 0;
  font-family:  Helvetica, sans-serif;
  color: #34495e;
header{
  background-color: primary
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 2 2 auto;
}
header{
  width:100%;

.logotTxt{
  color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  padding: 15px;
 
}
.links
{
    color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 15px; font-weight:initial; letter-spacing: -1px; line-height: 1; text-align: center; 
    padding: 15px;

}
}
}

.auth-container {
  height: 100vh;
  display: flex;

  .first-container, .second-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first-container {
    /*background: #4C50FA;*/
    background: rgba(76, 80, 250, 0.8);
    width: 100%;
    height: 100%;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .phrase-container {
      width: 400px;

      p {
        font-size: 62px;
        font-weight: bold;
        font-style: italic;
        background-color: ivory;
        display: inline-block;
        padding: 0 20px 0 10px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #4C50FA;
  font-weight: bold;
  transition: all ease-in-out .3s;
}

a:hover {
  color: #4C50FA;
}

.auth-form-container {
  width: 400px;
  border-radius: 17px;
  padding: 30px 20px;
  box-shadow: 0 1px 15px 0 rgba(1,41,138,0.2);

  .auth-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;

    h1 {
      text-align: center;
    }

    .full-input {
      width: 100%;
    }
  }

  .auth-form.login {
    h1 {
      margin-bottom: 50px;
    }
    button {
      margin-top: 10px;
    }
  }
}

.btn {
  border: none;
  cursor: pointer;
  background: #ea384d;
  text-align: center;
  padding: 10px 25px;
  color: white;
  box-shadow: 0 6px 15px 0 rgba(234,56,77,0.5);
  transition: all ease-in-out .3s;
  
  &:hover {
    background: #d31027;
  }

  &.full-width {
    width: 100%;
  }

  &.btn-rounded {
    border-radius: 50px;
  }

  &:active, &:focus {
    outline: none !important;
    border-color: none !important;
  }
}

.btn.btn-primary {
  background-color: #4C50FA;
  border: #4C50FA 1px solid;
  box-shadow: none;
  color: white;
  padding: 5px 15px;
  box-shadow: 0 1px 15px 0 rgba(76, 80, 250, 0.5);

  &:hover {
    background-color: #4C50FA;
    color: white;
  }

  &:active, &:focus {
    outline: none !important;
    background-color: #4C50FA !important;
    color: white;
  }
}

.img-container {
  background: url('../assets/img/library.jpg');
  height: 100%;
  flex-grow: 1;
  background-size: cover;
}

.main {
  margin-top: 20px;
}

@media (max-width: 990px) {
  .first-container {
    display: none;
  }

  .second-container {
    width: 100%;
  }
}