
<app-header></app-header>
<div id="home">
<!--
  <div id="daphne"><img src="../../assets/img/daphne.png">
  </div>
-->

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Nice to see you</h1>
        </div>
        <div class="col-md-6">
          <img src="../../assets/img/hero-stat.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="paddingTopBottom50 signature">
    <div class="container text-center">
      <h2>To Be Replaced</h2>
    </div>
  </div>

  <div class="paddingTopBottom50 explanation">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/img/girl-book.svg" alt="">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          <img src="../../assets/img/boy-reading.svg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/img/girl-computer.svg" alt="">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>

</div>