<div class="auth-container">
  <div class="img-container">
    <div class="first-container">
      <div class="phrase-container">
        <p>Register Page</p>
      </div>
    </div>
  </div>
  <div class="second-container">
    <div class="auth-form-container">
      <div class="auth-form">
        <h1>Register</h1>
        <form [formGroup]="form" (ngSubmit)="register()">
          <p>
            <mat-form-field class="full-input">
              <input matInput formControlName="username" placeholder="Username">
              <mat-error>L'adresse email est requise et doit être une adresse de Vinci</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-input">
              <input matInput formControlName="email" placeholder="Adresse email" type="email">
              <mat-error>L'adresse email est requise et doit être une adresse de Vinci</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-input">
              <input matInput formControlName="password" placeholder="Mot de passe" type="password">
              <mat-error>L'adresse email est requise et doit être une adresse de Vinci</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-input">
              <input matInput formControlName="passwordConfirm" placeholder="Confirmation du Mot de passe" type="password">
              <mat-error>L'adresse email est requise et doit être une adresse de Vinci</mat-error>
            </mat-form-field>
          </p>
          <button class="btn">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>